#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

#main-menu {
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    li {
      position: relative; // Для правильного позиционирования псевдоэлемента

      a {
        color: $dark;
        position: relative;
        transition: color 0.3s; 

        &:hover {
          color: $orange; 
        }

        
        &::after {
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          background: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16 8.322L11.7091 8.99604L15.0865 11.7222C14.9031 12.0459 14.9531 11.9591 14.7664 12.2795L10.7122 10.7178L12.2759 14.7687C11.9525 14.9522 12.0392 14.9022 11.7191 15.0891L8.99521 11.7122L8.32173 16H7.6816L7.01146 11.7122L4.28089 15.0891C3.96082 14.9055 4.04751 14.9556 3.72411 14.7687L5.28777 10.7178L1.23359 12.2795C1.05022 11.9591 1.10023 12.0459 0.913524 11.7222L4.29089 8.99604L0 8.322V7.68133L4.29089 7.01064L0.913524 4.28446C1.0969 3.96079 1.04688 4.04755 1.23359 3.72388L5.28777 5.28884L3.72411 1.23796C4.04751 1.05109 3.96082 1.09781 4.28089 0.914286L7.01146 4.29447L7.6816 0H8.32173L8.99521 4.29447L11.7191 0.914286C12.0392 1.09781 11.9525 1.04776 12.2759 1.23796L10.7122 5.28884L14.7664 3.72388C14.9498 4.04755 14.8998 3.96079 15.0865 4.28446L11.7091 7.01064L16 7.68133V8.322Z" fill="%23F36E2E"/%3E%3C/svg%3E');
          background-size: cover;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%) translateY(10px); 
          opacity: 0; 
          transition: opacity 0.3s, transform 0.3s; 
        }

        
        &:hover::after {
          opacity: 1; 
          transform: translateX(-50%) translateY(0); 
        }
      }
    }
  }
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
  }
}
